<!DOCTYPE html>
<html>
  <title>Trip Planner - {% block title %}{% endblock %}</title>
  <head>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>
  <body>

  <nav class="navbar navbar-default">
   <div class="container-fluid">
     <!-- Brand and toggle get grouped for better mobile display -->
     <div class="navbar-header">
       <a class="navbar-brand" href="#">Brand</a>
     </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
     <div>
       <ul class="nav navbar-nav navbar-right nav-pills">
         <li class='active'><a href="#">Home</a></li>
         <li><a href="#">About Us</a></li>
         <li><a href="#">Contact</a></li>
     </div><!-- /.navbar-collapse -->
   </div><!-- /.container-fluid -->
  </nav>

  <div class='container-fluid'>
    <div class='row'>
      <div class='col-lg-8' class='left-section'>
        <div id='planning-dropdown'>
          {% block content %}
          {% endblock %}
        </div>
        <div id='map'>
          Map goes here!
        </div>
      </div>
      <div class='col-lg-4' id='right-section'>
        <div id='personal-strip'>
          Hello again!this is the personal strip
        </div>
        <div id='day-selector-strip'>
          this is the day selector strip
        </div>
        <div id='itinerary'>
          this is the itinerary
        </div>
      </div>
    </div>
  </div>

    <script src="/jquery/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>

  </body>
</html>
